body{
    background-color: white;  
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px; 
    margin-bottom: 0px; 
    text-align: center;
}

h1{
    color: #f55c47;
    font-size: 5.25em;  
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    margin: 50px auto 0 auto;
    padding-top: 25px;
}

h2{
    font-size: 2.5rem;
    font-family: 'Poppins', Verdana, sans-serif;
    color: #564a4a;
    margin-bottom: 40px;
}

h3{
    color: #4aa96c;
    font-size: 2rem;
    font-family: Verdana, Tahoma, sans-serif;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}

a{
    color: #8fd9a8;
    font-family: 'Poppins', Verdana, sans-serif;
    font-size: 18px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    text-decoration: none;
}

a:hover{
    background-color: #4aa96c;
}

hr{
    color: #f55c47;
    border: none;
    border-top: 8px dotted;
    height: 5%;
    width: 8%;
}

.top-container{
    background-color: #C6F2C6;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
}

.middle-container{
    background-color: #C6F2C6;
    padding-top: 25px;
    padding-bottom: 25px;
}

.bottom-container{
    background-color: #564a4a;
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
}

.box1{
    width: 200px;
    position: relative;
    text-align: center;
    margin: 0 auto 0 auto;
}

.skill-row{
    width: 50%;
    margin: 80px auto 100px auto;
}

/* texts */
.btn{
    font-size: 1.5rem;
}

.crackhead{
    font-weight: normal;
    line-height: 1;
}

.crack{
    background-color: #ffb26b;
}

.hello-text{
    background-color: #9fe6a0;
    color: #564a4a;
}

.nightmare{
    color: #4aa96c;
    font-family: 'ZCOOL KuaiLe', cursive;
    font-weight: bold;
}

.robot-text{
    text-align: left;
}

.basket-text{
    text-align: right;
}

.copyright{
    color: #8fd9a8;
    font-size: 16px;
}

/* images */

.profile-pic{
    height: 380px;
    width: 300px;
    padding-top: 10px;
}

.robotics{
    float: left;
    height: 50%;
    width: 55%;
    margin-right: 30px;
}

.basketball{
    float: right;
    height: 50%;
    width: 50%;
    margin-left: 30px;
}

/* clouds */

.top-cloud{
    position: relative;
    left: 220px;
}

.bottom-cloud{
    position: absolute;
}

/*button*/
.btn {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 100;
    padding: 16px;
    background-color: #4AA96C;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    border: solid #369B5A 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    background: #FF7B54;
    border: solid #FF7B54 1px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }